{% extends "bulletion/base.html" %}

{% block title %}
createformです
{% endblock %}



{% block content %}  

    <section>
        <h2>新規登録画面</h2>
        <form action="{% url 'board-update' object.pk %}" method="post" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.title.id_for_label }}" class="form-label">タイトル</label></br>
             </div>
            {{form.title}}
        <div class="mb-3">
            <label for="{{ form.content.id_for_label }}" class="form-label">内容</label></br>
            {{form.content}}
        </div>
            <a href="{% url 'board-list' %}" class="btn btn-primary">一覧に戻る</a>
            <button type="submit" class="btn btn-success">更新する</button>
        </form>   
    </section>

{% endblock %}
